@font-face {
    font-family: 'MyCustomFont1'; /* Give your font a unique name */
    src: url('./FontPoppins/Poppins/Poppins-Regular.ttf') format('ttf');
   /* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
  }


.button{
    -fx-background-color: rgb(123,56,255);
    -fx-font-family: MyCustomFont1;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.button:hover {
    -fx-background-color: rgb(9, 215, 242);
}