@font-face {
    font-family: 'MyCustomFont'; /* Dê um nome único para sua fonte */
    src: url('./FontPoppins/Poppins/Poppins-Regular.ttf') format('truetype'); /* Caminho para os arquivos de fonte */
    font-weight: normal;  /* Especificar o peso da fonte */
    font-style: normal;  /* Especificar o estilo da fonte */
}
@import url('ScrollPane.css');

.text-area {
    -fx-background-color: #a9a9a9 , rgb(241,241,241) , rgb(241,241,241);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-family: MyCustomFont;
    -fx-font-weight: Poppins-Regular;
    -fx-font-size: 16;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-area:focused {
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1; 
    /*Revisar */
    -fx-border-style: none;  
}

/* Estilo para o ScrollPane */
.scroll-pane {
    -fx-background-color:  #a9a9a9, rgb(241,241,241), rgb(241,241,241); /* Fundo do ScrollPane */
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color:  rgb(123,56,255);
    -fx-border-radius: 3px;
}


.scroll-pane > .viewport {
    -fx-background-color: #a9a9a9, rgb(241,241,241), rgb(241,241,241); /* Fundo da área de visualização */
}

